.timecontrol-slider .slider.has-limits .range {
    margin-left: -2px;
}
.timecontrol-slider .knob.upper.hidden,
.timecontrol-slider .knob.lower.hidden {
    display: none;
}
.timecontrol-dateseparator:before{
    content: "\e120";
    font-family: "Glyphicons Halflings";
    padding: 5px;
} 